{% extends "buyer/base.html" %}

{% load static %}

{% block content %}
    <div class="goods_type">
        <div class="goods_details"><a href="#">首页</a> >  葡萄</div>
        <div class="goods_box">
            <div class="box_pic"><img src="{{ good_img }}"/></div>
            <div class="box_details">
                <form method="post" action="/buyer/carJump/{{ good.id }}/">
                    {% csrf_token %}
                    <h1>{{ good.goods_name }}</h1>
                    <span style='font-size: 15px;'>{{ good.goods_description }}</span>
                    <div class="box_bg">价格：￥<span style="font-size: 40px; font-weight: bold; font-family:'微软雅黑';color:#FD482C ">{{ good.goods_now_price }}</span>元&nbsp;&nbsp;原价:￥<s style='color: red'> {{ good.goods_price }}</s></div>
                    <div class="address">配送：广州</div>
                    <div class="address">存储方法：阴暗潮湿</div>
                    <div class="num">数量：
                        <input type="button" name="-" value="-" class="btn1" onclick="dec()" />
                        <input type="text" value="1" id="count" name="count" class="text1"/>
                        <input type="button" name="+" value="+" class="btn1" onclick="add()"/> </div>
                        <input type="hidden" value="{{ good_img }}" name="good_img">
                    <div class="btn2"><input type="submit" value="加入购物车" class="gouwu"/> </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var count ;
        function add()
        {
            count = document.getElementById('count').value;
            count++
            document.getElementById('count').value = count;
        }
        function dec()
        {
            count = document.getElementById('count').value;
            count--;
            if(document.getElementById('count').value == 1)
            {
                document.getElementById('count').value = 1
            }
            else
            {
                document.getElementById('count').value = count;
            }
        }
    </script>
    <div class="goods_type1">
        <div class="type1_left">
            <div class="type1_top">其他商品</div>
            <div class="type1_bottom">
                    {% for g in data %}
                       <a href="/buyer/goods_details/{{ g.id }}/">
                       <dl>
                        <dt><img src="{{ g.img }}"/> </dt>
                            <dd>
                                <span class="pname">
                                    {{ g.name }}
                                </span>
                                <p class="price">{{ g.price }}</p>
                            </dd>
                        </dl>
                       </a>
                    {% endfor %}
            </div>
        </div>
        <div class="type1_right">
            <div class="type1_top">商品详情</div>
            <div class="type1_bottom">{{ good.goods_content }}</div>
        </div>
        <br/>
        <div class="type1_right">
            <div class="type1_top">商品评价</div>
            <div class="type1_bottom">

                     <div class="comment_box1">
                        <span>会员:sam</span>&nbsp;&nbsp;&nbsp;
                        <span>评论内容:真的好吃</span>
                        <span style="float:right">评论时间:2018-9-9</span>
                     </div>

            </div>
        </div>
    </div>
{% endblock %}